 
 
 
 
 <table border="1">
        <tr>

          <th>
            new followers
          </th>
                  </tr>

                  <%@the_follow_request.each do |person|%>
                  <tr>
                    <td>
                    <%=person.sender.username%>
                    </td>
                    <td>
                          <h4><a href="/user/<%= person.sender.id %>">
                            visit <%=person.sender.username%>'s' profile
                          </a></h4>
                        </td>

                  </tr>
                  <%end%>


          <th>
            new decorations
          </th>
                  </tr>

                  <%@list_of_answers.each do |answer|%>
                      <%to_test = answer.id%>
                     <%@k= Decoratation.where(:answer_id => to_test)%>
                     <%@k.each do |yes|%>
                        <%@useruser = User.where({:id => yes.user_id}).at(0)%>
                        <tr>
                          <td>
                          <%=@useruser.username%>
                          </td>
                           <td>
                          <h4><a href="/question/<%=to_test%>">
                            visit the decorated question
                          </a></h4>
                        </td>
                          
                        </tr>  
                      <%end%>
                  <%end%>