 
 
 
 
 <table border="1">
        <tr>

          <th>
            new followers
          </th>
          <th>
            Time Followed
          </th>
          <th>
          </th>
                  </tr>

                  <%@the_follow_request.each do |person|%>
                  <tr>
                    <td>
                    <%=person.sender.username%>
                    </td>
                    <td>
                    <%=person.created_at%>
                    </td>
                    <td>
                          <h4><a href="/user/<%= person.sender.id %>">
                            visit <%=person.sender.username%>'s' profile
                          </a></h4>
                        </td>

                  </tr>
                  <%end%>
            </table>
            <br>
            <br>
            <h1>  </h1>

 <table border="1">
        <tr>


          <th>
            New Decorations
          </th>
          <th>
           Answer
          </th>
          <th>
          Decoration Time
           
          </th>
                  </tr>

                  <%@list_of_answers.each do |answer|%>
                      <%to_test = answer.id%>
                     <%@k= Decoratation.where(:answer_id => to_test)%>
                     <%@k.each do |yes|%>
                        <%@useruser = User.where({:id => yes.user_id}).at(0)%>
                        <tr>
                          <td>
                          <%=@useruser.username%>
                          </td>
                           <td>
                           <%=answer.entry%>
                          </td>
                          <td>
                          <%=@k.at(0).created_at%>
                          </td>
                          
                        </tr>  
                      <%end%>
                  <%end%>