<div>
  <div>
    <h1>
      Answer #<%= @the_answer.id %> details
    </h1>

    <div>
      <div>
        <a href="/answers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_answer/<%= @the_answer.id %>">
          Delete answer
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Entry
      </dt>
      <dd>
        <%= @the_answer.entry %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_answer.owner_id %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_answer.image %>
      </dd>

      <dt>
        Question
      </dt>
      <dd>
        <%= @the_answer.question_id %>
      </dd>

      <dt>
        Decoratations count
      </dt>
      <dd>
        <%= @the_answer.decoratations_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_answer.comments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_answer.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_answer.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit answer
    </h2>

    <form action="/modify_answer/<%= @the_answer.id %>"  method="post" >
      <div>
        <label for="entry_box">
          Entry
        </label>

        <textarea id="entry_box" name="query_entry"><%= @the_answer.entry %></textarea>
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_answer.owner_id %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_answer.image %>">
      </div>

      <div>
        <label for="question_id_box">
          Question
        </label>

        <input type="text" id="question_id_box" name="query_question_id" value="<%= @the_answer.question_id %>">
      </div>

      <div>
        <label for="decoratations_count_box">
          Decoratations count
        </label>

        <input type="text" id="decoratations_count_box" name="query_decoratations_count" value="<%= @the_answer.decoratations_count %>">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_answer.comments_count %>">
      </div>

      <button>
        Update answer
      </button>
    </form>
  </div>
</div>

<hr>
