<div >
  <h3>
    Edit User Account
  </h3>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="username_box">Username</label>
        <input id="username_box" name="query_username" value="<%= @current_user.username %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>
<br>
      <button>
        Update account
      </button>

     
    
    </form>
<div>
  <div>
  <br>

    Or, <a href="/cancel_user_account"> delete your account</a> instead.
  </div>
</div>


<% if @user.admin == true %>
    <div>
    <h4>You've been accepted as an admin, so you can add questions</h4>
        <form action="/insert_question" method="post">
          <div>
            <label for="entry_box">
            </label>

            <textarea id="entry_box" name="query_question" rows="3"></textarea>
          </div>
          <button>
            add question
          </button>
          </form>

            <h4>If you no longer want to be an admin, check the box below and hit submit.</h4> 
          <div>
          <form action="/forfitadmin" method="post">
          <label for="admin_box">Check this to forfeit admin status</label>
          <input id="admin_box" name="query_admin" type="checkbox">
          <button>
          forfeit
        </button>
        </div>

    <%else%>
    <h4>You haven't applied to be an admin, so you can't add questions.</h4> 
    <div>
    <form action="/createadmin" method="post">
    <div>
    <label for="admin_box">Check this to apply to be an admin</label>
    <input id="admin_box" name="query_admin" type="checkbox">
  </div>
    <button>
    Apply
  </button>
  </div>
<%end%>



<hr>
<br>
<h1>Your Answers to Date</h1>
  <div>
  <div>

 <div>
  <div>
    <table border="1">
      <tr>

        <th>
          Entry
        </th>

    

        <th>
          Decoratation count
        </th>


        <th>
          posting Time
        </th>

        <th>
          Question Answered
        </th>
      </tr>

      <% @matching_answers.each do |an_answer| %>
      <tr>
        <td>
          <%= an_answer.entry %>
        </td>

        <td>
          <%= an_answer.decoratations_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_answer.created_at) %> ago
        </td>
        <td>
          <%= an_answer.question.question %>
        </td>
        
        <td>
          <a href="/delete_answer/<%= an_answer.id %>">
            Delete this answer
          </a>
        </td>
      </tr>
      <%end%>
    </table>
  </div>
</div>