
<hr>
<br>
<h1>Your Diary</h1>
  <div>
  <div>
<%@all = FollowRequest.where(:recipient_id => @current_user.id) %>
<%@all_following = FollowRequest.where(:sender_id => @current_user.id) %>




<i> You are following <%=@all_following.count%> people, and you have <%=@all.count%> followers </i>

<h1> </h1>


 <div>
  <div>
    <table border="1">
      <tr>

        <th>
          Entry
        </th>

    

        <th>
          Decoratation count
        </th>


        <th>
          posting Time
        </th>

        <th>
          Question Answered
        </th>
      </tr>

      <% @matching_answers.each do |an_answer| %>
      <tr>
        <td>
          <%= an_answer.entry %>
        </td>

        <td>
          <%= an_answer.decoratations_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_answer.created_at) %> ago
        </td>
        <td>
          <%= an_answer.question.question %>
        </td>
        
        <td>
          <a href="/delete_answer/<%= an_answer.id %>">
            Delete this answer
          </a>
        </td>
      </tr>
      <%end%>
    </table>
  </div>
</div>



<hr>
<% if @user.admin == true %>
    <hr>
    <div>
    <h4>You've been accepted as an admin, so you can add questions</h4>
        <form action="/insert_question" method="post">
          <div>
            <label for="entry_box">
            </label>

            <textarea id="entry_box" name="query_question" rows="3"></textarea>
          </div>
          <button>
            add question
          </button>
          </form>
          <div></div>
          <br>

            <i>We get it, being an admin is a lot of pressure. If you no longer want to be an admin, check the box below and hit submit.</i> 
          <div>
          <form action="/forfitadmin" method="post">
          <label for="admin_box">Check this to forfeit admin status</label>
          <input id="admin_box" name="query_admin" type="checkbox">
          <button>
          forfeit
        </button>
        </form>
        </div>

    <%else%>
    <hr>
    <h4>You haven't applied to be an admin, so you can't add questions.</h4> 
    <div>
    <form action="/createadmin" method="post">
    <div>
    <label for="admin_box">Check this to apply to be an admin</label>
    <input id="admin_box" name="query_admin" type="checkbox">
    
  </div>
    <button>
    Apply
  </button>
  </form>
  </div>
<%end%>

 <hr>

<form action="/edituseraccount" method="get">
          
          <button>
          Edit your user account
        </button>
</form>


