<h1><%=@correct_user.username%>'s Diary</h1>

<%=@matching_follow_requests%>

<%@all = FollowRequest.where(:recipient_id => @correct_user.id) %>
<%@all_following = FollowRequest.where(:sender_id => @correct_user.id) %>


<a href="/viewfollowing/<%=@correct_user.id%>">
  <%=@correct_user.username%> is following <%=@all_following.count%> people</a>
  <br>

<a href="/viewfollowers/<%=@correct_user.id%>">
  <%=@correct_user.username%> has <%=@all.count%> followers </a>


<br>
<div>
 <h1> </h1>
</div>


<%testing = 0%>
<%@all.each do |test|%>
  <%if test.sender_id == @current_user.id%>

    <form action="/unfollower/<%=@correct_user.id%>/<%=@current_user.id%>" method="post">
          
        <button>
          unfollow <%=@correct_user.username%>
        </button>
        <br>
        <div></div>
        </form>

        <hr>
        <%testing = 1%>
        <%break%>
  <%end%>
 <%end%>
 <%if testing == 0%>
  <%if @correct_user != @current_user%>
    <form action="/follower/<%=@correct_user.id%>/<%=@current_user.id%>" method="post">
          
          <button>
          Follow <%=@correct_user.username%>
        </button>
        <br>
        <div></div>

        <hr>
    </form>
  <%end%>
<%end%>


  <div>
  <div>
    <table border="1">
      <tr>

        <th>
          Entry
        </th>

    

        <th>
          Decoratation count
        </th>


        <th>
          posting Time
        </th>

        <th>
   
        </th>

        <th>
          Question Answered
        </th>
      </tr>

      <% @matching_answers.each do |an_answer| %>
      <tr>
        <td>
          <%= an_answer.entry %>
        </td>

        <td>
          <%= an_answer.decoratations_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_answer.created_at) %> ago
        </td>

        <td>
          <%= an_answer.question.question %>
        </td>
        

                  <%@testing = 0%>
              
                  <%Decoratation.where({ :answer_id => an_answer.id }).each do |search|%>
                    <%if search.user_id == @current_user.id%>
                      <td>
                      <a href="/undecorate_p/<%= search.id%>/<%=an_answer.question.id%>/<%= an_answer.owner.id%>">
                        Un-Decorate this Answer
                      </a>
                      </td>
                      <%@testing = 1%>
                      <%break%>
                    <%end%>
                  <%end%>
                  <%if @testing == 0%>
                    <td>
                    <a href="/decorate_p/<%= an_answer.id%>/<%=an_answer.question.id%>/<%= an_answer.owner.id%>">
                        Decorate this Answer
                      </a>
                    </td>
                  <%end%>
      </tr>
      <%end%>
    </table>
  </div>
</div>




