<h1><%=@correct_user.username%>'s Diary</h1>

<%@all = FollowRequest.where(:recipient_id => @correct_user.id) %>


<h3> <%=@correct_user.username%> has <%=@all.count%> followers </h3>


<form action="/follower/<%=@correct_user.id%>/<%=@current_user.id%>" method="get">
          
          <button>
          Follow <%=@correct_user.username%>
        </button>
        <br>
        <div></div>

        <hr>
</form>


  <div>
  <div>
    <table border="1">
      <tr>

        <th>
          Entry
        </th>

    

        <th>
          Decoratation count
        </th>


        <th>
          posting Time
        </th>

        <th>
   
        </th>

        <th>
          Question Answered
        </th>
      </tr>

      <% @matching_answers.each do |an_answer| %>
      <tr>
        <td>
          <%= an_answer.entry %>
        </td>

        <td>
          <%= an_answer.decoratations_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_answer.created_at) %> ago
        </td>

        <td>
          <%= an_answer.question.question %>
        </td>
        

                  <%@testing = 0%>
              
                  <%Decoratation.where({ :answer_id => an_answer.id }).each do |search|%>
                    <%if search.user_id == @current_user.id%>
                      <td>
                      <a href="/undecorate_p/<%= search.id%>/<%=an_answer.question.id%>/<%= an_answer.owner.id%>">
                        Un-Decorate this Answer
                      </a>
                      </td>
                      <%@testing = 1%>
                      <%break%>
                    <%end%>
                  <%end%>
                  <%if @testing == 0%>
                    <td>
                    <a href="/decorate_p/<%= an_answer.id%>/<%=an_answer.question.id%>/<%= an_answer.owner.id%>">
                        Decorate this Answer
                      </a>
                    </td>
                  <%end%>
      </tr>
      <%end%>
    </table>
  </div>
</div>




